body {
    background-color: DarkSlateGray;
    font-family: "Verdana", "Arial", "sans-serif";
    text-align: center;
    padding-top: 50px;
    font-size: 1.5em;
}

.white {
    color: white;
}

.small {
    font-size: 0.7em;
}

#authentication-div {
    margin-top: -0.9em;
    margin-bottom: 1.5em;
}

#sign-in-btn {
    padding-left: 15em;
}

#sign-out-text {
    padding-left: 5em;
}

.hide {
    display: none;
}

#clock {
    margin-top: 0;
}

#forecast-icon {
    margin-top: 2em;
}

#forecast-label {
    margin-bottom: 2em;
}

.cold {
    background-color: #95A5A6;
}

.chilly {
    background-color: #1ABC9C;
}

.nice {
    background-color: #2980B9;
}

.warm {
    background-color: #E67E22;
}

.hot {
    background-color: #E74C3C;
}
