body {
    background-color: DarkSlateGray;
    font-family: "Verdana", "Arial", "sans-serif";
    text-align: center;
    padding-top: 50px;
    font-size: 1.5em;
}

.relative {
    position: relative;
}

.vertical-center {
    position: absolute;
    top: 50;
    transform: translateY(-50%);
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix {
    clear: both;
}

.white {
    color: white;
}

.small {
    font-size: 0.7em;
}

#clock {
    margin-top: 0;
}

#forecast-icon {
    margin-top: 2em;
}

.cold {
    background-color: #95A5A6;
}

.chilly {
    background-color: #1ABC9C;
}

.nice {
    background-color: #2980B9;
}

.warm {
    background-color: #E67E22;
}

.hot {
    background-color: #E74C3C;
}
